{% extends 'base.html.twig' %}

{% block body %}
<div class="dashboardCard bg-white">
  <h1 class="text-center text-4xl font-bold">House Review Dashboard</h1>
</div>
<twig:HouseContainer />
<p class="mt-2 text-center text-slate-400">Made by Jelmer Smit in 2026</p>
{% endblock %}
