<!DOCTYPE html>
<html>
  <body>
    <h1>House Review Dashboard</h1>
    <p>There are {{ houses|length }} houses available.</p>
    <div id="houseContainer">
      {% for house in houses %}
        <twig:HouseListing
          :title="house.title|default('(Title missing)')"
          :monthlyRent="house.monthlyRent|default(0)"
          :city="house.city"
          :energyLabel="house.energyLabel|default('(Energy label missing)')"
          :titleGrade="house.titleGrade.value"
          :rentGrade="house.rentGrade.value"
          :energyGrade="house.energyGrade.value"
          :overallGrade="house.overallGrade.value"
          />
      {% endfor %}
    </div>
  </body>  
</html>
