<!DOCTYPE html>
<html>
  <body>
    <h1>House Review Dashboard</h1>
    <p>There are {{ houses|length }} houses available.</p>
    <div id="houseContainer">
      {% for house in houses %}
        <twig:HouseListing
          :title="house.title"
          :monthlyRent="house.monthlyRent"
          :city="house.city"
          :energyLabel="house.energyLabel|default('None')"
          />
      {% endfor %}
    </div>
  </body>  
</html>
