{% extends 'base.html.twig' %}

{% block body %}
<h1>House Review Dashboard</h1>
<p>There are {{ houses|length }} houses available.</p>
  <twig:HouseContainer
    :houses="houses"
    />
{% endblock %}
