<!DOCTYPE html>
<html>
  <body>
    <h1>House Review Dashboard</h1>
    <p>There are some houses available.</p>
    <div id="houseContainer">
      {{ component('HouseListing', {
      title: 'House 1',
      monthlyRent: 2000,
      city: 'Groningen'
      }) }}
    </div>
  </body>  
</html>
